<section class="scroll-section about block primary" id="about">
	<!-- About text & photo -->
	<div class="container">
	  <div class="row-fluid">
	    <div class="span3 photo">
	      <img src="img/misc/profile.png" alt="My picture" class="img-circle pull-center" />
	    </div>
	    <div class="span9 details">
	      <h2 class="primary-focus">"i make your own jewelry collection"</h2>
	      <h3 class="secondary-focus"><b>Alberto Bissacco</b> - Jewellery Designer</h3>
	      <p>"ThePurpleHand" is born as side project while working with my brother-in-law on his jewelry store in Padova, Italy. <b>With this project i want create new collections personalized for each customer.</b></p>
	    </div>
	  </div>
	</div>
      </section>