<!-- Clients carousel -->
      <div class="clients block">
	<div class="container">
	  <div class="row-fluid">
	    <!--You must set data-item-width="250" data-item-margin="70" on the flexslider-carousel div
	    data-item-width = width of each item
	    data-item-margin = horizontal margins on items, relates to your css ie. margin: 0 35px; results in data-item-margin="70" (x2 the horizontal margin)-->
	    <div class="flexslider-carousel" data-item-width="250" data-item-margin="0">
	      <div class="items">
	      		<div class="item"><img src="img/clients/client1.png" alt="Client 1 image" /></div>
	      		<div class="item"><img src="img/clients/client2.png" alt="Client 2 image" /></div>
	      		<div class="item"><img src="img/clients/client3.png" alt="Client 3 image" /></div>
	      		<div class="item"><img src="img/clients/client4.png" alt="Client 4 image" /></div>
	      		<div class="item"><img src="img/clients/client5.png" alt="Client 5 image" /></div>
	      		<div class="item"><img src="img/clients/client6.png" alt="Client 6 image" /></div>
	      	      		<div class="item"><img src="img/clients/client1.png" alt="Client 1 image" /></div>
	      		<div class="item"><img src="img/clients/client2.png" alt="Client 2 image" /></div>
	      		<div class="item"><img src="img/clients/client3.png" alt="Client 3 image" /></div>
	      		<div class="item"><img src="img/clients/client4.png" alt="Client 4 image" /></div>
	      		<div class="item"><img src="img/clients/client5.png" alt="Client 5 image" /></div>
	      		<div class="item"><img src="img/clients/client6.png" alt="Client 6 image" /></div>
	      		
	      </div>
	    </div>
	  </div>
	</div>
      </div>