<!--Contact form-->
      <section class="scroll-section contact block" id="contact">
	<div class="container">
	  <h2>Hire Me</h2>
	  <div class="row-fluid">
	    <form id="contact-form" action="#">
	      <div class="span5">
		<input type="text" placeholder="Name" class="input-primary">        
		<input type="email" placeholder="Email" class="input-primary">
	      </div>
	      <div class="span7">
		<textarea rows="4" placeholder="Message"></textarea>
	      </div>
	      <button type="button" class="btn btn-large btn-primary-light btn-square"><i class="icon-envelope"></i> Send Message</button>
	      <address>
		<small>Snail mail:</small><br />12 Avenue Flora - 06000 Nice, France<br />
		<a href="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=london&amp;aq=&amp;sll=53.800651,-4.064941&amp;sspn=9.494005,20.698242&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;t=m&amp;ll=51.517075,-0.146084&amp;spn=0.014421,0.062571&amp;z=14&amp;iwloc=A&amp;output=embed"><i class="icon-map-marker"></i>View on Google Maps</a>
	      </address> 
	    </form>
	  </div>
	</div>
      </section>