<!-- Skills & Services -->
      <section class="scroll-section services block gray" id="services">
	<div class="container">
	  <h2></h2>
	  <div class="row-fluid">
	    <div class="span4 service"> 
	      <h3 class="bold">Frontend Development</h3>
	      <p>Nascetur sed elit, hac nec pellentesque porta etiam vel <a href="#">platea integer risus</a>. Nec eu porta odio sit nec. Placerat etiam porttitor vel et pulvinar. Nunc! Facilisis, cum et amet cras.</p>
	    </div>
	    <div class="span4 service">
	      <h3 class="bold">Drupal Theming</h3>
	      <p>Nascetur sed elit, hac nec pellentesque porta etiam vel platea integer risus. Nec eu porta odio sit nec. Placerat etiam porttitor vel et pulvinar. Nunc! Facilisis, cum et amet cras.</p>
	    </div>
	    <div class="span4 service">
	      <h3 class="bold">Project Management</h3>
	      <p>Nascetur sed elit, hac nec pellentesque porta etiam vel platea integer risus. Nec eu porta odio sit nec. Placerat etiam porttitor vel et pulvinar. Nunc! Facilisis, cum et amet cras.</p>
	    </div>
	  </div>
	</div>
      </section>	