<!--Customer testimonial -->
      <section class="testimonials" id="testimonials">
        <!-- background image & overlay colour are separate layers to make colour changing easy -->
        <div class="bg-faces">
	  <div class="filter light pull-center">
	    <h2>More than <span class="bold">500</span> happy clients</h2>
	  </div>
        </div>	
	
	<div class="block thin gray">
	  <div class="flexslider-wrapper container">
	    <div class="flexslider" data-transition="fade" data-directionnav=false>
	      <div class="slides">
		<blockquote class="slide">
		  <p>
		    Couldn't be happier with the work carried out.
		    <small>Charles Chaplin via <a href="#">Twitter</a></small>
		  </p>
		</blockquote>
		<blockquote class="slide">
		  <p>
		    Great job, delivered on time & on budget!
		    <small>Mike Rogers via <a href="#">Facebook</a></small>
		  </p>
		</blockquote>
		<blockquote class="slide">
		  <p>
		    Our productivity & sales are up due to our new website, highly recommended!
		    <small>Jim Jones</small>
		  </p>
		</blockquote>
	      </div>
	    </div>
	  </div>
	</div>
      </section>