<!-- Experience Timeline -->
      <section class="scroll-section experience block" id="experience">
	<div class="container">
	  <h2>Experience</h2>
	  
	  <!--
	  The Timeline:
	  - Timeline can be stacked by default by adding .timeline-stacked class to <ul class="timeline">, markers can show downloads by adding .down to <ul class="timeline">
	  - Item overlapping can be reset using the .overlap-off class or pulled using the overlap-pull-small & overlap-pull-large or pulled using overlap-push-small & overlap-push-large, default overlap is 60px
	  - To highlight the marker of an item add the class highlight to the timeline-item elements
	  -->
	  <ul class="timeline">
	    <!--Year 1 - 2013-->
	    <li>
	      <h3 class="timeline-breaker">Now</h3>
	      <ul>
		<li class="timeline-item highlight">
		  <!--Images require class="timeline-item-photo", to float right add right class="timeline-item-photo right"-->
		  <img src="img/timeline/photo5.png" class="timeline-item-photo img-bg-primary" alt="timeline photo" />		  
		  <h4 class="timeline-item-date">June 2013 - present</h4>
		  <h5 class="timeline-item-role">Senior developer @ Choco Media</h5>
		  <p class="timeline-item-description">Dis dis. Turpis cras platea scelerisque ultricies turpis amet tincidunt penatibus vel? Cum tortor! Porttitor pellentesque urna lectus, magna, urna, elit augue elementum. Aenean facilisis augue, magna, pulvinar!</p>
		</li>
    
		<li class="timeline-item right">
		  <!--Images require class="timeline-item-photo", to float right add right class="timeline-item-photo right"-->
		  <img src="img/timeline/photo2.png" class="timeline-item-photo right img-bg-primary-light" alt="timeline photo" />
		  <h4 class="timeline-item-date">April 2013 - June 2013</h4>
		  <h5 class="timeline-item-role">Technical Lead @ Chimp Productions</h5>
		  <p class="timeline-item-description">Dis dis. Turpis cras platea scelerisque ultricies turpis amet tincidunt penatibus vel? Cum tortor! Porttitor pellentesque urna lectus!</p>
		  <a href="#" class="btn btn-mini btn-primary-light btn-square">View Project</a>
		</li>

		<li class="timeline-item">
		  <!--Images require class="timeline-item-photo", to float right add right class="timeline-item-photo right"-->
		  <img src="img/timeline/photo3.png" class="timeline-item-photo img-bg-primary" alt="timeline photo" />
		  <h4 class="timeline-item-date">March 2013 - April 2013</h4>
		  <h5 class="timeline-item-role">Druapl Consultant, freelance</h5>
		  <p class="timeline-item-description">Dis dis. Turpis cras platea scelerisque ultricies turpis amet tincidunt penatibus vel? Cum tortor! Porttitor pellentesque urna lectus, magna, urna, elit augue elementum. Aenean facilisis augue, magna, pulvinar!</p>
		</li>
		
		<li class="timeline-item right highlight">
		  <!--Images require class="timeline-item-photo", to float right add right class="timeline-item-photo right"-->
		  <img src="img/timeline/photo6.png" class="timeline-item-photo right" alt="timeline photo" />
		  <h4 class="timeline-item-date">January 2013 - present</h4>
		  <h5 class="timeline-item-role">Founder of Themelize.me</h5>
		  <p class="timeline-item-description">Dis dis. Turpis cras platea scelerisque ultricies turpis amet tincidunt penatibus vel? Cum tortor! Porttitor pellentesque urna lectus, magna, urna, elit augue elementum. Aenean facilisis augue, magna, pulvinar!</p>
		</li>
		
		<li class="timeline-item">		  
		  <h4 class="timeline-item-date">Throughout 2013 - present</h4>
		  <h5 class="timeline-item-role">Creative Consultant, Freelance</h5>
		  <a href="#" class="btn btn-mini btn-primary-light btn-square">View Related Projects</a>
		</li>		
	      </ul>
	    </li>
	    
	    <!--Year 2 - 2012-->
	    <li>
	      <h3 class="timeline-breaker">2012</h3>
	      <ul>
		<li class="timeline-item">
		  <!--Images require class="timeline-item-photo", to float right add right class="timeline-item-photo right"-->
		  <img src="img/timeline/photo5.png" class="timeline-item-photo right img-bg-primary" alt="timeline photo" />		  
		  <h4 class="timeline-item-date">June 2013 - present</h4>
		  <h5 class="timeline-item-role">Senior developer @ Choco Media</h5>
		  <p class="timeline-item-description">Dis dis. Turpis cras platea scelerisque ultricies turpis amet tincidunt penatibus vel? Cum tortor! Porttitor pellentesque urna lectus, magna, urna, elit augue elementum. Aenean facilisis augue, magna, pulvinar!</p>
		</li>
    
		<li class="timeline-item right">
		  <h4 class="timeline-item-date">April 2013 - June 2013</h4>
		  <h5 class="timeline-item-role">Technical Lead @ Chimp Productions</h5>
		  <p class="timeline-item-description">Porttitor pellentesque urna lectus!</p>
		</li>

		<li class="timeline-item overlap-off">
		  <h4 class="timeline-item-date">March 2013 - April 2013</h4>
		  <h5 class="timeline-item-role">Druapl Consultant, freelance</h5>
		  <p class="timeline-item-description">Magna, urna, elit augue elementum. Aenean facilisis augue, magna, pulvinar!</p>
		</li>
		
		<li class="timeline-item right">
		  <h4 class="timeline-item-date">July 2012 - May 2013</h4>
		  <h5 class="timeline-item-role">Frontend Consultant</h5>
		  <p class="timeline-item-description">Porttitor pellentesque urna lectus, magna, urna, elit augue elementum. Aenean facilisis augue, magna, pulvinar!</p>
		</li>
	      </ul>
	    </li>
	    
	    <!--Timeline end block-->
	    <li class="timeline-end">
	      <h5 class="timeline-breaker">Want to know more?</h5>
	      <a href="#contact" class="btn btn-large btn-primary-light btn-square"><i class="icon-envelope"></i> Contact Me</a> <a href="#contact" class="btn btn-large btn-primary btn-square"><i class="icon-download-alt"></i> Download CV</a>
	    </li>
	  </ul>
	</div>
      </section>