<!--Work-->
      <section class="scroll-section work block" id="work">
	<div class="container">
	  <h2>Work</h2>
	  <!--Featured item-->
	  <section class="flexslider-wrapper container">
	    <div class="flexslider" id="full-view" data-slidernav="#work-items" data-transition="slide" data-autostartoff=true>
	      <div class="slides">
				    
		  <div class="slide row-fluid" data-thumb="img/showcase/thumbs/project1.jpg">
		    <div class="span8"><img src="img/showcase/full/project1_large.jpg" alt="Project image" /></div>
		    <div class="span4">
		      <h3 class="title">Project Name</h3>
		      <p>Adipiscing amet ridiculus magna elit scelerisque in? In ut. Aliquam, sed non, nascetur pellentesque tincidunt amet, sit placerat, massa facilisis mattis, sed mauris non nec pellentesque pid egestas et mid, porta mus, tincidunt?</p>
		      <a href="#" class="btn btn-primary">View Online <i class="icon-globe"></i></a>
		    </div>		      
		  </div>
				    
		  <div class="slide row-fluid" data-thumb="img/showcase/thumbs/project2.jpg">
		    <div class="span8"><img src="img/showcase/full/project2_large.jpg" alt="Project image" /></div>
		    <div class="span4">
		      <h3 class="title">Project Name</h3>
		      <p>Adipiscing amet ridiculus magna elit scelerisque in? In ut. Aliquam, sed non, nascetur pellentesque tincidunt amet, sit placerat, massa facilisis mattis, sed mauris non nec pellentesque pid egestas et mid, porta mus, tincidunt?</p>
		      <a href="#" class="btn btn-primary">View Online <i class="icon-globe"></i></a>
		    </div>		      
		  </div>
				    
		  <div class="slide row-fluid" data-thumb="img/showcase/thumbs/project3.jpg">
		    <div class="span8"><img src="img/showcase/full/project3_large.jpg" alt="Project image" /></div>
		    <div class="span4">
		      <h3 class="title">Project Name</h3>
		      <p>Adipiscing amet ridiculus magna elit scelerisque in? In ut. Aliquam, sed non, nascetur pellentesque tincidunt amet, sit placerat, massa facilisis mattis, sed mauris non nec pellentesque pid egestas et mid, porta mus, tincidunt?</p>
		      <a href="#" class="btn btn-primary">View Online <i class="icon-globe"></i></a>
		    </div>		      
		  </div>
				    
		  <div class="slide row-fluid" data-thumb="img/showcase/thumbs/project4.jpg">
		    <div class="span8"><img src="img/showcase/full/project4_large.jpg" alt="Project image" /></div>
		    <div class="span4">
		      <h3 class="title">Project Name</h3>
		      <p>Adipiscing amet ridiculus magna elit scelerisque in? In ut. Aliquam, sed non, nascetur pellentesque tincidunt amet, sit placerat, massa facilisis mattis, sed mauris non nec pellentesque pid egestas et mid, porta mus, tincidunt?</p>
		      <a href="#" class="btn btn-primary">View Online <i class="icon-globe"></i></a>
		    </div>		      
		  </div>
				    
		  <div class="slide row-fluid" data-thumb="img/showcase/thumbs/project5.jpg">
		    <div class="span8"><img src="img/showcase/full/project5_large.jpg" alt="Project image" /></div>
		    <div class="span4">
		      <h3 class="title">Project Name</h3>
		      <p>Adipiscing amet ridiculus magna elit scelerisque in? In ut. Aliquam, sed non, nascetur pellentesque tincidunt amet, sit placerat, massa facilisis mattis, sed mauris non nec pellentesque pid egestas et mid, porta mus, tincidunt?</p>
		      <a href="#" class="btn btn-primary">View Online <i class="icon-globe"></i></a>
		    </div>		      
		  </div>
				    
		  <div class="slide row-fluid" data-thumb="img/showcase/thumbs/project6.jpg">
		    <div class="span8"><img src="img/showcase/full/project6_large.jpg" alt="Project image" /></div>
		    <div class="span4">
		      <h3 class="title">Project Name</h3>
		      <p>Adipiscing amet ridiculus magna elit scelerisque in? In ut. Aliquam, sed non, nascetur pellentesque tincidunt amet, sit placerat, massa facilisis mattis, sed mauris non nec pellentesque pid egestas et mid, porta mus, tincidunt?</p>
		      <a href="#" class="btn btn-primary">View Online <i class="icon-globe"></i></a>
		    </div>		      
		  </div>
				    
		  <div class="slide row-fluid" data-thumb="img/showcase/thumbs/project7.jpg">
		    <div class="span8"><img src="img/showcase/full/project7_large.jpg" alt="Project image" /></div>
		    <div class="span4">
		      <h3 class="title">Project Name</h3>
		      <p>Adipiscing amet ridiculus magna elit scelerisque in? In ut. Aliquam, sed non, nascetur pellentesque tincidunt amet, sit placerat, massa facilisis mattis, sed mauris non nec pellentesque pid egestas et mid, porta mus, tincidunt?</p>
		      <a href="#" class="btn btn-primary">View Online <i class="icon-globe"></i></a>
		    </div>		      
		  </div>
				    
		  <div class="slide row-fluid" data-thumb="img/showcase/thumbs/project8.jpg">
		    <div class="span8"><img src="img/showcase/full/project8_large.jpg" alt="Project image" /></div>
		    <div class="span4">
		      <h3 class="title">Project Name</h3>
		      <p>Adipiscing amet ridiculus magna elit scelerisque in? In ut. Aliquam, sed non, nascetur pellentesque tincidunt amet, sit placerat, massa facilisis mattis, sed mauris non nec pellentesque pid egestas et mid, porta mus, tincidunt?</p>
		      <a href="#" class="btn btn-primary">View Online <i class="icon-globe"></i></a>
		    </div>		      
		  </div>
				    
		  <div class="slide row-fluid" data-thumb="img/showcase/thumbs/project9.jpg">
		    <div class="span8"><img src="img/showcase/full/project9_large.jpg" alt="Project image" /></div>
		    <div class="span4">
		      <h3 class="title">Project Name</h3>
		      <p>Adipiscing amet ridiculus magna elit scelerisque in? In ut. Aliquam, sed non, nascetur pellentesque tincidunt amet, sit placerat, massa facilisis mattis, sed mauris non nec pellentesque pid egestas et mid, porta mus, tincidunt?</p>
		      <a href="#" class="btn btn-primary">View Online <i class="icon-globe"></i></a>
		    </div>		      
		  </div>
				    
		  <div class="slide row-fluid" data-thumb="img/showcase/thumbs/project10.jpg">
		    <div class="span8"><img src="img/showcase/full/project10_large.jpg" alt="Project image" /></div>
		    <div class="span4">
		      <h3 class="title">Project Name</h3>
		      <p>Adipiscing amet ridiculus magna elit scelerisque in? In ut. Aliquam, sed non, nascetur pellentesque tincidunt amet, sit placerat, massa facilisis mattis, sed mauris non nec pellentesque pid egestas et mid, porta mus, tincidunt?</p>
		      <a href="#" class="btn btn-primary">View Online <i class="icon-globe"></i></a>
		    </div>		      
		  </div>
				    
		  <div class="slide row-fluid" data-thumb="img/showcase/thumbs/project11.jpg">
		    <div class="span8"><img src="img/showcase/full/project11_large.jpg" alt="Project image" /></div>
		    <div class="span4">
		      <h3 class="title">Project Name</h3>
		      <p>Adipiscing amet ridiculus magna elit scelerisque in? In ut. Aliquam, sed non, nascetur pellentesque tincidunt amet, sit placerat, massa facilisis mattis, sed mauris non nec pellentesque pid egestas et mid, porta mus, tincidunt?</p>
		      <a href="#" class="btn btn-primary">View Online <i class="icon-globe"></i></a>
		    </div>		      
		  </div>
				    
		  <div class="slide row-fluid" data-thumb="img/showcase/thumbs/project12.jpg">
		    <div class="span8"><img src="img/showcase/full/project12_large.jpg" alt="Project image" /></div>
		    <div class="span4">
		      <h3 class="title">Project Name</h3>
		      <p>Adipiscing amet ridiculus magna elit scelerisque in? In ut. Aliquam, sed non, nascetur pellentesque tincidunt amet, sit placerat, massa facilisis mattis, sed mauris non nec pellentesque pid egestas et mid, porta mus, tincidunt?</p>
		      <a href="#" class="btn btn-primary">View Online <i class="icon-globe"></i></a>
		    </div>		      
		  </div>
				    
		  <div class="slide row-fluid" data-thumb="img/showcase/thumbs/project13.jpg">
		    <div class="span8"><img src="img/showcase/full/project13_large.jpg" alt="Project image" /></div>
		    <div class="span4">
		      <h3 class="title">Project Name</h3>
		      <p>Adipiscing amet ridiculus magna elit scelerisque in? In ut. Aliquam, sed non, nascetur pellentesque tincidunt amet, sit placerat, massa facilisis mattis, sed mauris non nec pellentesque pid egestas et mid, porta mus, tincidunt?</p>
		      <a href="#" class="btn btn-primary">View Online <i class="icon-globe"></i></a>
		    </div>		      
		  </div>
				    
		  <div class="slide row-fluid" data-thumb="img/showcase/thumbs/project14.jpg">
		    <div class="span8"><img src="img/showcase/full/project14_large.jpg" alt="Project image" /></div>
		    <div class="span4">
		      <h3 class="title">Project Name</h3>
		      <p>Adipiscing amet ridiculus magna elit scelerisque in? In ut. Aliquam, sed non, nascetur pellentesque tincidunt amet, sit placerat, massa facilisis mattis, sed mauris non nec pellentesque pid egestas et mid, porta mus, tincidunt?</p>
		      <a href="#" class="btn btn-primary">View Online <i class="icon-globe"></i></a>
		    </div>		      
		  </div>
				    
		  <div class="slide row-fluid" data-thumb="img/showcase/thumbs/project15.jpg">
		    <div class="span8"><img src="img/showcase/full/project15_large.jpg" alt="Project image" /></div>
		    <div class="span4">
		      <h3 class="title">Project Name</h3>
		      <p>Adipiscing amet ridiculus magna elit scelerisque in? In ut. Aliquam, sed non, nascetur pellentesque tincidunt amet, sit placerat, massa facilisis mattis, sed mauris non nec pellentesque pid egestas et mid, porta mus, tincidunt?</p>
		      <a href="#" class="btn btn-primary">View Online <i class="icon-globe"></i></a>
		    </div>		      
		  </div>
				    
		  <div class="slide row-fluid" data-thumb="img/showcase/thumbs/project16.jpg">
		    <div class="span8"><img src="img/showcase/full/project16_large.jpg" alt="Project image" /></div>
		    <div class="span4">
		      <h3 class="title">Project Name</h3>
		      <p>Adipiscing amet ridiculus magna elit scelerisque in? In ut. Aliquam, sed non, nascetur pellentesque tincidunt amet, sit placerat, massa facilisis mattis, sed mauris non nec pellentesque pid egestas et mid, porta mus, tincidunt?</p>
		      <a href="#" class="btn btn-primary">View Online <i class="icon-globe"></i></a>
		    </div>		      
		  </div>
				</div>	      
	    </div>
	  
	    <!--Projects pager-->
	    <ul class="items" id="work-items">
	      	      <li class="item pull-center">
		<a href="img/showcase/full/project1_large.jpg">
		  <img src="img/showcase/thumbs/project1.jpg" alt="Project 1 image" title="Click to view details" />
		</a>
	      </li>
	      	      <li class="item pull-center">
		<a href="img/showcase/full/project2_large.jpg">
		  <img src="img/showcase/thumbs/project2.jpg" alt="Project 2 image" title="Click to view details" />
		</a>
	      </li>
	      	      <li class="item pull-center">
		<a href="img/showcase/full/project3_large.jpg">
		  <img src="img/showcase/thumbs/project3.jpg" alt="Project 3 image" title="Click to view details" />
		</a>
	      </li>
	      	      <li class="item pull-center">
		<a href="img/showcase/full/project4_large.jpg">
		  <img src="img/showcase/thumbs/project4.jpg" alt="Project 4 image" title="Click to view details" />
		</a>
	      </li>
	      	      <li class="item pull-center">
		<a href="img/showcase/full/project5_large.jpg">
		  <img src="img/showcase/thumbs/project5.jpg" alt="Project 5 image" title="Click to view details" />
		</a>
	      </li>
	      	      <li class="item pull-center">
		<a href="img/showcase/full/project6_large.jpg">
		  <img src="img/showcase/thumbs/project6.jpg" alt="Project 6 image" title="Click to view details" />
		</a>
	      </li>
	      	      <li class="item pull-center">
		<a href="img/showcase/full/project7_large.jpg">
		  <img src="img/showcase/thumbs/project7.jpg" alt="Project 7 image" title="Click to view details" />
		</a>
	      </li>
	      	      <li class="item pull-center">
		<a href="img/showcase/full/project8_large.jpg">
		  <img src="img/showcase/thumbs/project8.jpg" alt="Project 8 image" title="Click to view details" />
		</a>
	      </li>
	      	      <li class="item pull-center">
		<a href="img/showcase/full/project9_large.jpg">
		  <img src="img/showcase/thumbs/project9.jpg" alt="Project 9 image" title="Click to view details" />
		</a>
	      </li>
	      	      <li class="item pull-center">
		<a href="img/showcase/full/project10_large.jpg">
		  <img src="img/showcase/thumbs/project10.jpg" alt="Project 10 image" title="Click to view details" />
		</a>
	      </li>
	      	      <li class="item pull-center">
		<a href="img/showcase/full/project11_large.jpg">
		  <img src="img/showcase/thumbs/project11.jpg" alt="Project 11 image" title="Click to view details" />
		</a>
	      </li>
	      	      <li class="item pull-center">
		<a href="img/showcase/full/project12_large.jpg">
		  <img src="img/showcase/thumbs/project12.jpg" alt="Project 12 image" title="Click to view details" />
		</a>
	      </li>
	      	      <li class="item pull-center">
		<a href="img/showcase/full/project13_large.jpg">
		  <img src="img/showcase/thumbs/project13.jpg" alt="Project 13 image" title="Click to view details" />
		</a>
	      </li>
	      	      <li class="item pull-center">
		<a href="img/showcase/full/project14_large.jpg">
		  <img src="img/showcase/thumbs/project14.jpg" alt="Project 14 image" title="Click to view details" />
		</a>
	      </li>
	      	      <li class="item pull-center">
		<a href="img/showcase/full/project15_large.jpg">
		  <img src="img/showcase/thumbs/project15.jpg" alt="Project 15 image" title="Click to view details" />
		</a>
	      </li>
	      	      <li class="item pull-center">
		<a href="img/showcase/full/project16_large.jpg">
		  <img src="img/showcase/thumbs/project16.jpg" alt="Project 16 image" title="Click to view details" />
		</a>
	      </li>
	      	    
	    </ul>
	  </section>  
	</div>
      </section> 