<!-- @region: Navigation -->
    <div id="navigation" class="wrapper">
      <!-- Branding & Navigation -->
              <!--Main Navigation-->
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">          
   
              <!--branding-->
              <div class="brand">
                <!-- Logo added with CSS -->
                <h1><a href="/">The Purple Hand</a></h1>
              </div>
              
              <!--mobile collapse menu button-->
              <a class="mobile-toggle-trigger"><i class="icon-reorder"></i></a>
              
              <!--scroll mobile navigation--> 
              <a class="mobile-toggle-trigger scroll-nav" data-js="scroll-show"><i class="icon-reorder"></i></a>
              
              <!--everything within this div is collapsed on mobile-->
              <div class="mobile-toggle pull-right">
                              
                <!--main navigation-->
                <ul class="nav" id="main-menu">
                  <li><a href="">Custom Made Jewelry</a></li>
                  <li><a href="mailto:alberto.bissacco@gmail.com" class="stamp">Contact</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
    </div>