    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
      {% if page.title %}
        {{ page.title }} &ndash;
      {% endif %}
      {{ site.name }}
    </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- @todo: fill with your company info or remove -->
    <meta name="title" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <!-- Bootstrap CSS -->
    <link href="{{ site.baseurl}}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ site.baseurl}}/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="{{ site.baseurl}}/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ site.baseurl}}/plugins/flexslider/flexslider.css" rel="stylesheet">
    
    <!-- Theme style -->    
    <link href="{{ site.baseurl}}/css/theme-style.css" rel="stylesheet">
        
    <!--Your custom colour override - a starter template/example for overriding theme colours -->
    <link href="{{ site.baseurl}}/css/alternative-colour.css" rel="stylesheet">
    
    <!-- Put all your custom code/overrides here -->    
    <link href="{{ site.baseurl}}/css/custom-style.css" rel="stylesheet">       
            
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ site.baseurl}}/js/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons - @todo: fill with your icons or remove -->
    <link rel="shortcut icon" href="{{ site.baseurl}}/img/icons/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl}}/img/icons/114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl}}/img/icons/72x72.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl}}/img/icons/default.png">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css'>
      
    <!--Retina.js plugin - @see: http://retinajs.com/-->
    <script src="{{ site.baseurl}}/plugins/retina/retina.js"></script>