
    
    <!--Scripts -->
    <script src="js/jquery.js"></script>
    
    <!--Bootstrap Javascript -->
    <script src="js/bootstrap.min.js"></script>
    
    <!--Plugins -->
    <script src="plugins/flexslider/jquery.flexslider-min.js"></script>
    <script src="plugins/jPanelMenu/jquery.jpanelmenu.min.js"></script>
    <script src="plugins/jRespond/js/jRespond.js"></script>
    <script src="plugins/onePageNav/jquery.scrollTo.js"></script>
    <script src="plugins/onePageNav/jquery.nav.js"></script>
    
    <!--Custom scripts mainly used to trigger libraries -->
    <script src="js/script.js"></script>